/UICSServer/config/Connection.properties
/UICSClient/config/Connection-client.properties
/UICSServer/nbproject/private/
/UICSServer/build/
/UICSClient/nbproject/private/
/UICSClient/build/
/data/